<header class="site-header">
  <!--
    <div class="header-top">
      <div class="container custom-width">
        <div class="col-md-4">
          <div class="custom-text d-flex align-items-center">
            <div class="text-icon2">
              <i class="fa-regular fa-envelope Vicon-md"></i>
              <a href="mailto:{{ section.settings.store_email }}">{{ section.settings.store_email }}</a>
            </div>
          </div>
        </div>

        <div class="col-md-4-header-text col-md-4 text-center">
          {{ section.settings.discount_text }}
        </div>

        <div class="col-md-4 top-info-block">
          <ul class="d-inline mb-0 ps-0 position-relative">
            <li>
              <a class="me-3" href="#"
                ><img src="{{ 'india.jpg' | asset_url }}" class="pe-2 Vicon">INR <i class="fa-solid fa-angle-down"></i
              ></a>
            </li>
            <li>
              <a class="" href="#"> English <i class="fa-solid fa-angle-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  -->
  <div class="header-brand">
    <div class="container-xl custom-width">
      <div class="row align-items-center">
        <div class="col-sm-3 header-logo">
          <a class="me-3" href="{{ routes.root_url }}">
            {%- if section.settings.logo_position == 'top-left' -%}
              {%- if settings.logo != blank -%}
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{
                  settings.logo
                  | image_url: width: 600
                  | image_tag:
                    class: 'header-logo-img',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                }}
              {%- else -%}
                <span class="h2">{{ shop.name }}</span>
              {%- endif -%}
            {%- endif -%}
          </a>
        </div>
        <div class="col-sm-3 header-account">
          <div class="header-account-wrap">
            {% render 'header-search', input_id: 'Search-In-Modal' %}
            <div class="header-account-item user-cart">
              {% if customer %}
                {% assign url = routes.account_url %}
              {% else %}
                {% assign url = routes.account_login_url %}
              {% endif %}
              <a href="{{ url }}"><i class="fa-regular fa-user"></i> </a>
            </div>
            <style>
              .header__icon {
                height: 98% !important;
                width: fit-content !important;
              }
            </style>
            {% comment %}
              <div class="header-account-item header-wishlist">
                <a href="/pages/wishlist">
                  <span id="wishlist-count" class="count-circle">0</span> <i class="fa-regular fa-heart"></i>
                </a>
              </div>
            {% endcomment %}
            <div class="header-account-item header-cart">
              <a href="{{ routes.cart_url }}">
                <span class="count-circle">{{ cart.item_count }}</span> <i class="fa-solid fa-cart-shopping"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- HEADER NAVBAR -->
</header>
<nav class="header-navbar navbar navbar-expand-lg">
  <div class="container-xl">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mobileNavbarCollapse"
      aria-controls="mobileNavbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobileNavbarCollapse">
      <ul class="navbar-nav mx-auto">
        {% for link in linklists['main-menu'].links %}
          {% if link.links != blank %}
            <li class="nav-item dropdown dropdown-mega position-static my-mega">
              <a
                class="nav-link dropdown-toggle"
                href="{ link.url }}"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
              >
                {{- link.title -}}
              </a>
              <ul class="dropdown-menu">
                {% for sublink in link.links %}
                  <li>
                    <a class="dropdown-item" href="{{ sublink.url }}">{{ sublink.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </li>
          {%- else -%}
            <li class="nav-item position-static">
              <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];
    document.getElementById('wishlist-count').innerText = wishlist.length;
  });
</script>
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "location_text",
      "label": "t:sections.header.settings.location_text.label"
    },
    {
      "type": "text",
      "id": "store_email",
      "label": "t:sections.header.settings.store_email.label"
    },
    {
      "type": "richtext",
      "id": "discount_text",
      "label": "t:sections.header.settings.discount_text.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },

    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
