<section
  class=" inner-banner"
>
  <img
    class="desktop_image"
    src="{% if collection.metafields.custom.banner_image != blank %}{{ collection.metafields.custom.banner_image.value | image_url }}{% else %}https://cdn.shopify.com/s/files/1/0597/5080/9671/files/website-banner.jpg?v=1740551087{% endif %}"
  >
  <img
    class="mobile_image"
    src="{% if collection.metafields.custom.mobile_banner_image != blank %}{{ collection.metafields.custom.mobile_banner_image.value | image_url }}{% else %}https://cdn.shopify.com/s/files/1/0597/5080/9671/files/for-mobile.jpg?v=1740551086{% endif %}"
  >
  <div class="collection-hero-text-container container h-100 custom-width">
    <div class="hero-text ">
      <h1 class="Banner-heading text-brand">{{ collection.title }}</h1>
      {% if collection.description %}
        <p>{{ collection.description }}</p>
      {% endif %}
    </div>
  </div>
</section>
<!-- ################################################################################ -->
<!-- ################################################################################ -->
<main class="common-collection-container page-width main-content homepage-content">
  {% paginate collection.products by 50 %}
    <section class="section-tbspacing">
      <div class="fullbleed-wrapper">
        <div class="container-fluid ps-lg-0">
          <div class="content-row ">
            <!-- FILTER SIDEBAR START -->
            {% section 'collection-sidebar' %}

            <!-- PRODUCT LIST START -->
            <div class="listing-block">
              <div class="row" id="product-list">
                {% for product in collection.products %}
                  <div
                    class="col-md-4 col-6 product-item"
                    data-price="{{ product.price | divided_by: 100 }}"
                    data-tags="{{ product.tags | join: ',' }}"
                  >
                    <div class="product-card">
                      {% render 'card-product-new', card_product: product %}
                    </div>
                  </div>
                {% endfor %}
              </div>
              <!-- PAGINATION LINKS -->
              <div class="pagination">
                {{ paginate | default_pagination }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endpaginate %}
  <style>
    .listing-block .row .col-md-4 {
      display: flex !important;
    }
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      font-family: 'Lato';
      font-weight: 400;
      color: #cb8161;
    }
  </style>
</main>
